/* palette */
:root {
  --main-bg-color: #d6efc7;
  --header-bg-color: #101010;
  --button-bg-color: #4CAF50;
  --button-hover-color: #66BB6A;
}/* end of palette */

body{
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
h1 {
  font-size: 300%;
  font-weight: 500;
  color: white;
  font-family: 'Major Mono Display', monospace;
  text-shadow: 3px 3px black;
}
h2{
  font-family: 'Bungee', cursive;
  font-size: 250%;
  font-weight: 500;
  color:white;
  text-shadow: 3px 3px black;
  line-height: 40px;
}
h3{
  font-family: 'Bungee', cursive;
  font-size: 150%;
  font-weight: 500;
  line-height: 30px;
}
p{
  font-size: 130%;
}
.button{
  background-color:var(--button-bg-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.button:hover{
    background-color:var(--button-hover-color) ;
}
/* Image that graps header and main */
.grapper-img{
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* HEADER STYLE */

/* Logo */
/* end of logo */

/* Navigation bar */

/* end of HEADER */

/* MAIN STYLE */
main{
  height: 500px;
  padding: 9%;
  text-align: center;
}
main h1 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 10px;
}
@media all and (max-width: 500px) {
  main h1{
    font-size: 3rem;
  }
main h2{
  font-size: 2rem;
  margin-top: 0;
}
form{
  background-color: white;
  opacity: 85%;
  border-radius: 12px;
  box-shadow: 6px 6px 15px black;
  width: 60%;
  padding: 1% 12px;
  margin: 1% auto;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-button{
  width: 100%;
}

/* FEATURES STYLE */

.features{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
}
.feature-img{
  height: 7rem;
  margin-bottom: 4%;
  margin-top: 2%;
}
.feature-element{
  text-align: center;
  padding: 10% 7%;
  display: inline-block;
  min-width: 33%;
}
.feature-element p {
  width: 70%;
  margin: auto;
}
@media all and (max-width: 800px) {
  .features{
    grid-template-columns: 1fr;
  }
}

/* FOOTER */
footer{
  background-color: var(--header-bg-color);
  color:white;
  text-align: center;
  padding: 2% 0;
}
.social-media-img{
  height: 2rem;
  margin: 5px 10px;
}
.copyright-text{
  margin: 30px 10px;
}
